step_function_definition/generate-IaC.bak.json
{
  "Comment": "A description of my state machine",
  "StartAt": "get_image",
  "States": {
    "get_image": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": "{% $states.result.Payload %}",
      "Arguments": {
        "FunctionName": "${GET_IMAGE_LAMBDA_ARN}",
        "Payload": "{% $states.input %}"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "generate_arch_description"
    },
    "generate_arch_description": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": "{% $states.result.Payload %}",
      "Arguments": {
        "FunctionName": "${GENERATE_ARCHITECTURE_DESCRIPTION_LAMBDA_ARN}",
        "Payload": "{% $states.input %}"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "generate_module_description"
    },
    "generate_module_description": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": "{% $states.result.Payload %}",
      "Arguments": {
        "FunctionName": "${GENERATE_MODULE_DESCRIPTION_LAMBDA_ARN}",
        "Payload": "{% $states.input %}"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "generate_deployment_sequence"
    },
    "generate_deployment_sequence": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": "{% $states.result.Payload %}",
      "Arguments": {
        "FunctionName": "${GENERATE_DEPLOYMENT_SEQUENCE_LAMBDA_ARN}",
        "Payload": "{% $states.input %}"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "generate_module_prompt"
    },
    "generate_module_prompt": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": "{% $states.result.Payload %}",
      "Arguments": {
        "FunctionName": "${GENERATE_MODULE_PROMPT_LAMBDA_ARN}",
        "Payload": "{% $states.input %}"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "modular_stack_generator_main"
    },
    "modular_stack_generator_main": {
      // "Type": "Task",
      // "Resource": "arn:aws:states:::lambda:invoke",
      // "Output": "{% $states.result.Payload %}",
      // "Arguments": {
      //   "FunctionName": "${MODULAR_STACK_GENERATOR_MAIN_LAMBDA_ARN}",
      //   "Payload": "{% $states.input %}"
      // },
      // "Retry": [
      //   {
      //     "ErrorEquals": [
      //       "Lambda.ServiceException",
      //       "Lambda.AWSLambdaException",
      //       "Lambda.SdkClientException",
      //       "Lambda.TooManyRequestsException"
      //     ],
      //     "IntervalSeconds": 1,
      //     "MaxAttempts": 3,
      //     "BackoffRate": 2,
      //     "JitterStrategy": "FULL"
      //   }
      // ],
      "Type": "Map",
      "ItemsPath": "$.modules",
      "MaxConcurrency": 3,
      "Parameters": {
        "jobId.$": "$.jobId",
        "module_name.$": "$$.Map.Item.Value.module_name",
        "module_prompt.$": "$$.Map.Item.Value.module_prompt"
      },
      "Iterator": {
        "StartAt": "generate_single_module",
        "States": {
          "generate_single_module": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Arguments": {
              "FunctionName": "${MODULAR_STACK_GENERATOR_MAIN_LAMBDA_ARN}",
              "Payload.$": "$"
            },
            "Retry": [
              {
                "ErrorEquals": ["States.ALL"],
                "MaxAttempts": 3,
                "BackoffRate": 2
              }
            ],
            "End": true
          }
        }
      },
      "Next": "zip_IaC_file"
    },
    "zip_IaC_file": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": "{% $states.result.Payload %}",
      "Arguments": {
        "FunctionName": "${ZIP_IAC_FILE_LAMBDA_ARN}",
        "Payload": "{% $states.input %}"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "End": true
    }
  },
  "QueryLanguage": "JSONata"
}